# dependencias
node_modules/
**/node_modules/

# builds
dist/
build/
coverage/

# expo / react native
.expo/
.expo-shared/
web-build/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# variables de entorno
.env
.env.*
!.env.example

# macOS
.DS_Store

# editores
.vscode/
.idea/

# typescript
*.tsbuildinfo